{% extends 'base.html' %}

{% block content %}
    <h1>RiiFood</h1>
    <hr />
    <h3>Hallo {{ nama }}, Selamat Datang di RiiFood!</h3>
    <p>Nama : {{ nama }}</p>
    <p>Kelas : {{ class }}</p>
    <table border="1">
        <tr>
            <th colspan="3" bgcolor="yellow">Daftar Buah</th>
        </tr>

        {% comment %} Berikut cara memperlihatkan data produk di bawah baris ini {% endcomment %}
    
        {% for product in products %}
            <tr>
                <td rowspan="5"><img src= "{{ product.gambar }}" width="200" /></td>
                </td>
                <td>Nama</td>
                <td>{{ product.name }}</td>
            </tr>
            <tr>
                <td>Harga</td>
                <td>{{ product.price }}</td>
            </tr>
            <tr>
                <td>Stok</td>
                <td>{{ product.amount }}</td>
            </tr>
            <tr>
                <td>Deskripsi</td>
                    <td>{{ product.description }}</td>
            </tr>
            <tr>
                <td>Data added</td>
                <td>{{product.date_added}}</td>
            </tr>
        {% endfor %}
        
    </table>
    
    <br />

    <a href="{% url 'main:create_product' %}">
        <button>
            Add New Product
        </button>
    </a>

    {% endblock content %}
    


        

