{% extends 'base.html' %}

{% block meta %}
    <title>Register</title>
{% endblock meta %}

{% block content %}
<style>
    body {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        margin: 0;
    }
   
    .login {
        width: 750px; 
        margin: 0 auto;
        padding: 20px;
        background-color: #f4e8d5;
        border: 1px solid #281b03;
        border-radius: 5px;
    }

    .login h1 {
        text-align: center;
        margin-bottom: 20px;
    }

    /* Gaya untuk tabel formulir */
    .login form table {
        width: 120%;
    }

    .login form table tr {
        margin-bottom: 10px;
    }

    .login form table td {
        padding: 5px;
    }

    /* Gaya untuk tombol Daftar */
    .login form input[type="submit"] {
        background-color: #462506;
        color: #ffffff;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;
    }

    .login form input[type="submit"]:hover {
        background-color: #b8916c;
    }

    .login ul {
        list-style-type: none;
        padding: 0;
    }

    .login ul li {
        color: #e74c3c;
        margin: 5px 0;
    }

        /* Gaya untuk kotak input */
    .login form input[type="text"],
    .login form input[type="password"],
    .login form input[type="email"] {
        background-color: #fedeb3; 
        padding: 5px;
        border: 1px solid #ccc;
        border-radius: 3px;
    }

    /* Gaya saat input mendapat fokus */
    .login form input[type="text"]:focus,
    .login form input[type="password"]:focus,
    .login form input[type="email"]:focus {
        background-color: #ffe3c1; 
        outline: none;
    }

</style>

<div class="login">
    <h1>Register</h1>
    <form method="POST">
        {% csrf_token %}
        <table>
            {{ form.as_table }}
            <tr>
                <td></td>
                <td><input type="submit" name="submit" value="Daftar" /></td>
            </tr>
        </table>
    </form>

    {% if messages %}
    <ul>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
</div>
{% endblock content %}
